@using Microsoft.AspNetCore.Identity
@{
    //TODO Deisgn átalakítás
    ViewData["Title"] = "Szerepkezelés";
    List<ApplicationUser>? users = (List<ApplicationUser>?)ViewData["allUsers"];
    List<IdentityRole>? roles = (List<IdentityRole>?)ViewData["allRoles"];
}

<h1>Szerep felhasználóhoz rendelése</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-action="AssignRole" method="post">
    <div class="form-group">
        <label for="userId">Felhasználó kiválasztása</label>
        <select class="form-control" id="userId" name="userId">
            @foreach (var user in users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="roleName">Szerep kiválasztása</label>
        <select class="form-control" id="roleName" name="roleName">
            @foreach (var role in roles)
            {
                <option value="@role.Name">@role.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Szerep hozzárendelése</button>
    <a asp-action="Roles" class="btn btn-primary">Vissza</a>
</form>
