@using FitnessForgeApp.Models.ViewModels
@{
    List<UserWithRolesViewModel>? usersWithRoles = (List<UserWithRolesViewModel>?)ViewData["UsersWithRoles"];
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Felhasználónév</th>
            <th>Szerepek</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in usersWithRoles)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span>@role</span>
                    }
                    <form action="@Url.ActionLink("Index","Role")" method="get">
                        <button class="btn btn-primary" type="submit">Szerkesztés</button>
                    </form>
                </td>
                <td>
                    @if (user.UserName != User.Identity.Name)
                    {
                        <form method="post" asp-action="Delete" onsubmit="return confirm('Biztosan törölni szeretné ezt a felhasználót?');">
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <button type="submit" class="btn btn-danger">Törlés</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-danger" disabled>Törlés</button>
                        <span class="text-danger">Nem törölheti saját magát.</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
