@using FitnessForgeApp.Models.ViewModels
@model List<DetailsViewModel>
@{
    List<MealType>? mealTypes = (List<MealType>?)ViewData["types"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Kalória Tracker</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card mt-3">
            <div class="card-body">
                <h5>@DateTime.Today.ToShortDateString()</h5>
                <h5 class="card-title">Összesített Kalória Bevitel</h5>
                <p class="card-text">Kalória: @Model[0].Calorie kcal</p>
                <p class="card-text">Szénhidrát: @Model[0].Carbohydrate g</p>
                <p class="card-text">Fehérje: @Model[0].Protein g</p>
                <p class="card-text">Zsír: @Model[0].Fat g</p>
            </div>
        </div>
        <div class="mt-4">
            <h4>Étkezések</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Étkezés</th>
                        <th>Kalória</th>
                        <th>Részletek</th>
                        <th>Szerkesztés</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < 6; i++)
                    {
                        <tr>
                            <td>@mealTypes[i-1].Name</td>
                            <td>@Model[i].Calorie kcal</td>
                            <td>
                                <ul>
                                    <li>Szénhidrát: @Model[i].Carbohydrate g</li>
                                    <li>Fehérje: @Model[i].Protein g</li>
                                    <li>Zsír: @Model[i].Fat g</li>
                                </ul>
                            </td>
                            <td>
                                <form asp-action="EditIntake" asp-controller="Meal" method="get">
                                    <input value="@mealTypes[i-1].Name" type="hidden" name="mealType" />
                                    <button class="btn btn-primary" type="submit">
                                        Szerkesztés
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>