@using FitnessForgeApp.Models.ViewModels
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager;
@inject UserService userService;
@model List<DetailsViewModel>
@{
    List<MealType>? mealTypes = (List<MealType>?)ViewData["mealTypes"];
    ApplicationUser user = await userManager.GetUserAsync(User);
}

<style>
    .card {
        transition: all 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    }
</style>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }

    <div class="container mt-5">
        <div class="row mt-4 text-center">
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h5 class="card-title">@DateTime.Today.ToShortDateString()</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Sum(x => x.Calorie) kcal / @Math.Round(userService.UserDailyCalorie(user), 0) kcal</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Szénhidrát: @Model.Sum(x => x.Carbohydrate) g / @Math.Round(userService.UserDailyNutrients(user)[0], 0) g</li>
                        <li class="list-group-item">Fehérje: @Model.Sum(x => x.Protein) g / @Math.Round(userService.UserDailyNutrients(user)[1], 0) g</li>
                        <li class="list-group-item">Zsír: @Model.Sum(x => x.Fat) g / @Math.Round(userService.UserDailyNutrients(user)[2], 0) g</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-4 text-center">
            <h4>Étkezések</h4>
                @for (int i = 0; i < 5; i++)
                {
                <div class="col-lg-2 col-sm-12 @(i == 0 ? "offset-lg-1" : "")">
                    <div class="card rounded-3">
                        <img src="/images/meals/@(mealTypes[i].Name.ToLower()).jpg" class="card-img-top border border-3 border-dark rounded-3" alt="@mealTypes[i].Name.ToLower()">
                        <div class="card-body">
                            <h5 class="card-title">@mealTypes[i].Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Model[i].Calorie kcal</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Szénhidrát: @Model[i].Carbohydrate g</li>
                            <li class="list-group-item">Fehérje: @Model[i].Protein g</li>
                            <li class="list-group-item">Zsír: @Model[i].Fat g</li>
                        </ul>
                        <div class="card-body">
                            <form asp-action="EditIntake" asp-controller="Meal" method="get" class="card-link">
                                <input value="@mealTypes[i].Name" type="hidden" name="mealType" />
                                <button class="btn btn-primary rounded-circle" type="submit">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>