@using FitnessForgeApp.Models.ViewModels
@model MealAddViewModel
    @foreach (var fhp in Model.groupedFoodHasProducts)
    {
        <div class="row bg-red text-center text-orange mt-3 rounded-3" id="foodDiv">
            <div class="col">
                <p>@fhp.Food.Name</p>
                @if (fhp.Food.Products.Count > 1)
                {
                    <i class="fa-solid fa-angles-down" onclick="toggleHiddenDiv(this)"></i>
                }
            </div>
            @if (fhp.Food.Products.Count > 1)
            {
                var datas = Model.GetFoodDatas(fhp.FoodId);
                <div class="col">
                    <p>@Math.Round(datas[0], 2) kcal</p>
                </div>
                <div class="col">
                    <p>@Math.Round(datas[1], 2) g</p>
                </div>
                <div class="col">
                    <p>@Math.Round(datas[2], 2) g</p>
                </div>
                <div class="col">
                    <p>@Math.Round(datas[3], 2) g</p>
                </div>
            }
            else
            {
                <div class="col">
                    <p>@Math.Round(fhp.Food.Products.Sum(f => f.Calorie), 2) kcal</p>
                </div>
                <div class="col">
                    <p>@Math.Round(fhp.Food.Products.Sum(f => f.Carbohydrate), 2) g</p>
                </div>
                <div class="col">
                    <p>@Math.Round(fhp.Food.Products.Sum(f => f.Protein), 2) g</p>
                </div>
                <div class="col">
                    <p>@Math.Round(fhp.Food.Products.Sum(f => f.Fat), 2) g</p>
                </div>
            }
            <div class="col">
                <div class="d-flex flex-column">
                    <form asp-action="AddFoodToMeal" asp-controller="Meal" method="post">
                        <div class="mb-2">
                            <input name="FoodId" value="@fhp.FoodId" type="hidden" />
                            <input value="@Model.mealType" type="hidden" name="mealType" />
                            <input type="number" name="Amount" min="0" step="0.001" required />
                        </div>
                        <div class="mb-2">
                            <label>@fhp.Food.Unit.Symbol</label>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-success rounded-circle" type="submit">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @if (fhp.Food.Products.Count > 1)
        {
            <div class="row hidden-div bg-red fw-bold text-orange m-1 p-1 rounded-3">
                <div class="row">
                    <div class="col"><p>Termék neve</p></div>
                    <div class="col"><p>Kalória</p></div>
                    <div class="col"><p>Szénhidrát</p></div>
                    <div class="col"><p>Fehérje</p></div>
                    <div class="col"><p>Zsír</p></div>
                </div>
                <hr />
                @foreach (var f in fhp.Food.Products)
                {
                    var datas = Model.GetProductDatas(f.Id, fhp.FoodId);
                    <div class="row">
                        <div class="col"><p>@f.Brand - @f.Name</p></div>
                        <div class="col"><p>@Math.Round(datas[0], 2) kcal</p></div>
                        <div class="col"><p>@Math.Round(datas[1], 2) g</p></div>
                        <div class="col"><p>@Math.Round(datas[2], 2) g</p></div>
                        <div class="col"><p>@Math.Round(datas[3], 2) g</p></div>
                    </div>
                }
            </div>
        }
    }