@using FitnessForgeApp.Models.ViewModels
@model MealEditIntakeViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container text-center mt-3 pt-3">
    <h4 class="text-orange fw-bolder">@Model.mealType</h4>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
    <div class="d-flex justify-content-center">
        <input type="text" id="searchString" class="rounded-2 form-control form-control-thin" placeholder="Keresés">
    </div>
    

    <form asp-action="Add" asp-controller="Meal" method="post" class="mt-2">
        @foreach (var meal in Model.userMeals)
        {
            if (meal != null)
            {
                <input type="hidden" name="foods" value="@meal.FoodId" />
            }
        }
        <input value="@Model.mealType" type="hidden" name="mealType" />
        <button class="btn btn-success" type="submit">Étel felvétele</button>
    </form>

    <div class="container" id="scroll-table">
        <partial name="_FoodPartial" model="Model"/>
    </div>
</div>

<script>
    function toggleHiddenDiv(icon) {
        var parentDiv = icon.parentNode.parentNode.nextElementSibling;
        var iconClassList = icon.classList;

        parentDiv.classList.toggle("shown-div");
        iconClassList.toggle("fa-angles-down");
        iconClassList.toggle("fa-angles-up");

        var allHiddenDivs = document.querySelectorAll('.hidden-div');
        allHiddenDivs.forEach(function (div) {
            if (div !== parentDiv) {
                div.classList.remove("shown-div");
                var siblingIcon = div.previousElementSibling.querySelector('.fa-solid');
                if (siblingIcon) {
                    var siblingIconClassList = siblingIcon.classList;
                    siblingIconClassList.remove("fa-angles-up");
                    siblingIconClassList.add("fa-angles-down");
                }
            }
        });
    }

    $(document).ready(function () {
        $('#searchString').keyup(function () {
            var mealType = '@Model.mealType';
            var searchString = $(this).val().trim();
            $.ajax({
                url: '@Url.Action("SearchFood", "Meal")',
                type: 'GET',
                data: { searchString: searchString, mealType: mealType },
                success: function (data) {
                    $('#scroll-table').html(data);
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        });
    });
</script>



