@model List<Food>
@{
    string? mealType = (string?)ViewData["type"];
}
<h4>@mealType</h4>
<table class="table">
    <thead>
        <tr>
            <th>Étel</th>
            <th>Termékek</th>
            <th>Részletek</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model)
        {
            if (food != null)
            {
                <tr>
                    <td>@food.Name</td>
                    <td>
                            @foreach (var product in food.Products)
                            {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Termék</th> 
                                                <th>Szénhidrát</th>
                                                <th>Fehérje</th>
                                                <th>Zsír</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@product.Brand - @product.Name</td>
                                                <td>@product.Carbohydrate g</td>
                                                <td>@product.Protein g</td>
                                                <td>@product.Fat g</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            }
                    </td>
                    <td>
                        <ul>
                            <li>Szénhidrát: @food.Products.Sum(p => p.Carbohydrate) g</li>
                            <li>Fehérje: @food.Products.Sum(p => p.Protein) g</li>
                            <li>Zsír: @food.Products.Sum(p => p.Fat) g</li>
                        </ul>
                    </td>
                    <td>
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="mealType" value="@mealType" />
                            <input type="hidden" name="foodId" value="@food.Id" />
                            <button type="submit" class="btn btn-danger">Törlés</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />
<form asp-action="Add" method="get">
    <input value="@mealType" type="hidden" name="mealType"/>
    <button class="btn btn-primary" type="submit">
        Étel felvétele
    </button>
</form>
